.vscode/
.txt
reports/
__pycache__/
api.py
#server.py
myenv/
nohup.out
moneymaster.sql
.zip
# More files to ignore
*.pdf
test.fpdf.py
mess.py
build/
dist/
.spec
.pkh
.exe

# More files, based on sending emails
.env

#api logs
logs/
test/
