/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0; /* Text color for dark mode */
}

/* Dashboard Container */
.dashboard {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.header .title {
    font-size: 24px;
    color: #e0e0e0;
}

.header .month {
    font-size: 18px;
    color: #a0a0a0;
}

/* Buttons */
.logout-btn, .toggle-button, #Add-Income button, #Add-Expense button, #Add-Asset button, #Add-Liability button, #reportForm button {
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.2s;
}

.logout-btn {
    background-color: red;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logout-btn:hover {
    background-color: darkred;
}


/* Content Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    margin-top: 20px;
}

.section {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #a0a0a0;
}

/* Cards */
.card {
    background-color: #2c2c2c;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.card .label {
    font-size: 16px;
    color: #e0e0e0;
}

.card .add-btn {
    cursor: pointer;
    color: #1e90ff;
    font-size: 18px;
    font-weight: bold;
}

/* Specific Card Types */
.income-card {
    background-color: #34495e;
    border: 1px solid #2c3e50;
}

.expense-card {
    background-color: #e74c3c;
    border: 1px solid #c0392b;
}

.asset-card {
    background-color: #27ae60;
    border: 1px solid #1e8449;
}

.liability-card {
    background-color: #f39c12;
    border: 1px solid #e67e22;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .section {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .header .title {
        font-size: 20px;
    }
    .header .month {
        font-size: 16px;
    }
    .logout-btn {
        font-size: 12px;
        padding: 8px 12px;
    }
    .section h2 {
        font-size: 18px;
    }
    .card .label {
        font-size: 14px;
    }
    .card .add-btn {
        font-size: 16px;
    }
}

/* Form Styles */
#Add-Income, #Add-Expense, #Add-Asset, #Add-Liability {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
}

#Add-Income h2, #Add-Expense h2, #Add-Asset h2, #Add-Liability h2, #Report h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #a0a0a0;
}

#Add-Income form, #Add-Expense form, #Add-Asset form, #Add-Liability form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Add-Income .form-group, #Add-Expense .form-group, #Add-Asset .form-group, #Add-Liability .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#Add-Income label, #Add-Expense label, #Add-Asset label, #Add-Liability label {
    font-size: 16px;
    color: #e0e0e0;
    margin-right: 10px;
    flex: 1;
}

#Add-Income input, #Add-Expense input, #Add-Asset input, #Add-Liability input {
    flex: 2;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #e0e0e0;
}

#Add-Income button, #Add-Expense button, #Add-Asset button, #Add-Liability button {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
    border: none;
    margin-top: 20px;
}

#Add-Income button:hover, #Add-Expense button:hover, #Add-Asset button:hover, #Add-Liability button:hover {
    background-color: #0056b3;
}

/* Message Styles */
#incomeMessage, #expenseMessage, #assetMessage, #liabilityMessage {
    font-size: 14px;
    color: #a0a0a0;
    margin-top: 10px;
    display: block;
}

/* Report Styles */
#Report {
    max-width: 600px;
    margin: 0 auto;
}

#Report h2 {
    text-align: left;
    margin-bottom: 20px;
}

#reportForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#reportForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#reportForm label {
    width: 120px;
    color: #e0e0e0;
    margin-right: 10px;
    text-align: left;
}

#reportForm select,
#reportForm input[type="date"],
#reportForm input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #2c2c2c;
    color: #e0e0e0;
}

#reportForm button {
    margin: 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    
}

#reportMessage {
    margin-top: 20px;
    text-align: center;
}

/* Report Table Container */
#reportTableContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-button {
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
    top: 10px;
    right: 20px;
}

/* Report Table Styles */
#reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #e0e0e0;
}

#reportTable thead {
    background-color: #333;
}

#reportTable th, #reportTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

#reportTable th {
    font-weight: bold;
}

#reportTable tbody tr:nth-child(even) {
    background-color: #2c2c2c;
}

#reportTable tbody tr:hover {
    background-color: #444;
}

/* Report Extension Total */
#reportExtension {
    display: block;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#reportExtension .total-income {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Dark Mode */
.toggle-button {
    background-color: #333;
    width: 35px; 
    height: 35px;
    background-image: url(../assets/dark.svg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    background-color: white;
}
