/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #f4f4f4;
}

/* Dashboard Container */
.dashboard {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.header .title {
    font-size: 24px;
    color: #333;
}

.header .month {
    font-size: 18px;
    color: #555;
}

/* Buttons */
.logout-btn, .toggle-button, #Add-Income button, #Add-Expense button, #Add-Asset button, #Add-Liability button, #reportForm button {
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.2s;
}

.logout-btn {
    background-color: red;
    color: #fff;
}

.logout-btn:hover {
    background-color: darkred;
}


#Add-Income button, #Add-Expense button, #Add-Asset button, #Add-Liability button, #reportForm button {
    background-color: #007BFF;
    color: #fff;
}

#Add-Income button:hover, #Add-Expense button:hover, #Add-Asset button:hover, #Add-Liability button:hover, #reportForm button:hover {
    background-color: #0056b3;
}

/* Content Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    margin-top: 20px;
}

.section {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}

/* Cards */
.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card .label {
    font-size: 16px;
    color: #333;
}

.card .add-btn {
    cursor: pointer;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

/* Specific Card Types */
.income-card {
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
}

.expense-card {
    background-color: #ffebee;
    border: 1px solid #ef9a9a;
}

.asset-card {
    background-color: #e8f5e9;
    border: 1px solid #a5d6a7;
}

.liability-card {
    background-color: #fff3e0;
    border: 1px solid #ffcc80;
}


/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .section {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .header .title {
        font-size: 20px;
    }
    .header .month {
        font-size: 16px;
    }
    .logout-btn {
        font-size: 12px;
        padding: 8px 12px;
    }
    .section h2 {
        font-size: 18px;
    }
    .card .label {
        font-size: 14px;
    }
    .card .add-btn {
        font-size: 16px;
    }
}

/* Form Styles */
#Add-Income, #Add-Expense, #Add-Asset, #Add-Liability {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
}

#Add-Income h2, #Add-Expense h2, #Add-Asset h2, #Add-Liability h2, #Report h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555;
}

#Add-Income form, #Add-Expense form, #Add-Asset form, #Add-Liability form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Add-Income .form-group, #Add-Expense .form-group, #Add-Asset .form-group, #Add-Liability .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#Add-Income label, #Add-Expense label, #Add-Asset label, #Add-Liability label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    flex: 1;
}

#Add-Income input, #Add-Expense input, #Add-Asset input, #Add-Liability input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Message Styles */
#incomeMessage, #expenseMessage, #assetMessage, #liabilityMessage {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Report Styles */
#Report {
    max-width: 600px;
    margin: 0 auto;
}

#Report h2 {
    text-align: left;
    margin-bottom: 20px;
}

#reportForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#reportForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#reportForm label {
    width: 120px;
    color: #333;
    margin-right: 10px;
    text-align: left;
}

#reportForm select,
#reportForm input[type="date"],
#reportForm input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

/* Report Button */
#reportForm button {
    margin: 5px;
    padding: 8px 20px;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Report Message */
#reportMessage {
    margin-top: 20px;
    text-align: center;
}

/* Report Table Container */
#reportTableContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Report Table Styles */
#reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reportTable thead {
    background-color: #f4f4f4;
}

#reportTable th, #reportTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#reportTable th {
    font-weight: bold;
    color: #333;
}

#reportTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#reportTable tbody tr:hover {
    background-color: #f1f1f1;
}

/* Report Extension Total Styles */
#reportExtension {
    display: block;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#reportExtension .total-income {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* THEME */
.toggle-button {
    width: 35px; 
    height: 35px;
    background-image: url(../assets/light.svg); 
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer; 
    background-color: whitesmoke;
}
