<div id="Add-Expense">
    <h2>Add Expense</h2>
    <form id="expenseForm">
        <div class="form-group">
            <label for="itemName">Item Name:</label>
            <input type="text" id="itemName" name="itemName">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="expenseCategory">Category:</label>
            <input type="text" id="expenseCategory" name="expenseCategory">
        </div>
        <button type="submit">Add Expense</button>
        <div id="expenseMessage"></div>
    </form>
</div>