<div id="Summary"> 
    <h2>Summary</h2>
    <form id="summaryForm">
        <div class="form-group">
            <label for="Currency">Report Currency</label>
            <input type="text" id="Currency" value="HUF">
        </div>
        <div class="form-group">
            <label for="month">Month:</label>
            <input type="month" id="Month" >
        </div>
        <button type="submit">Summary</button>
        <p id="summaryMessage"></p>
    </form>   
</div>

<script src="../static/summary.js"></script>